$white: #fff;
$pale-white: hsla(0, 0%, 100%, 0.3);
$gray: #d1d1d1;
$black: #151515;
$dark: #0f1225;
$main-color: #ff7b3e;

$font-stack: 'Roboto', Arial, Helvetica, sans-serif;
$font-stack-2: 'Roboto Condensed', Arial, Helvetica, sans-serif;

$max-width: 1400px;
$header-height: 60px;


$t-time: 250ms;

$tablet: 768px;
$laptop: 900px;
$pc: 1200px;