@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    src: url('../fonts/robotoCondensed/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    src: url('../fonts/robotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    src: url('../fonts/robotoCondensed/RobotoCondensed-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}